nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  padding: 0 1.5em;
  align-items: center;
  position: fixed;
}

.logo {
  font-family: "Bungee", sans-serif;
  font-weight: 300;
}

nav a {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.bold-text {
  font-weight:500;
}

div.new-tweet {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}