nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: rgb(126, 77, 158);
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  color: white;
  padding: 0 1.5em;
  align-items: center;
  position: fixed;
}

.logo {
  font-family: "Bungee", sans-serif;
  font-weight: 300;
}

nav a {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.bold-text {
  font-weight:500;
}

div.new-tweet {
  display: flex;
  flex-direction: column;
}

.fa-solid {
  align-self: center;
}

.fa-solid.double-angles-down:hover {
  color:rgb(158, 11, 11);
}

#dropdown:hover {
  cursor: pointer;
  color: rgb(158, 11, 11);
}

.scrollbutton {
  display: none;
  position: fixed;
  border-radius: 50%;
  padding: 20px;
  left: 90%;
  bottom: 30px;
  color: white;
  background-color: rgb(158, 11, 11);
  transition: transform 0.3s ease;
}

.scrollbutton:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }
}