section.tweet-form {
  width: 100%;
  text-align: center;
  font-family: "Source sans 3", sans-serif;
  margin-top: 2em;
  display: none;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  width: 100%;
  text-align: start;
  padding-bottom: 5px;
}

.tweet-text-footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  margin-top: 5px;
}

#tweet-text {
background-color: transparent;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 3px solid;
}

.tweet-btn {
  background-color: rgb(126, 77, 158);
  border: none;
  color: #f4f1ec;
}

.tweet-btn:hover {
  background-color: #f4f1ec;
  color: rgb(126, 77, 158);
  border: 1px solid rgb(126, 77, 158);
  cursor: pointer;
}

#char-count.negative {
  color: rgb(158, 11, 11);
}

#tweet-container {
  width: 100%;
}

.error-message{
  color: rgb(158, 11 , 11);
  border: 5px solid;
  border-radius: 5px;
  width: 100%;
  padding: 7px;
  text-align: center;
}

.er {
  display: none;
}

.error{
  font-family: "Source sans 3", sans-serif;
}

@media only screen and (min-width: 1024px) {
  #tweet-page {
    margin-top: 170px;
    margin-right: 50px;
    margin-left: 25px;
  }

  .tweet-btn {
    background-color: #4056A1;
    border: none;
    color: #f4f1ec;
  }
  
  .tweet-btn:hover {
    background-color: #f4f1ec;
    color: #4056A1;
    border: 1px solid #4056A1;
    cursor: pointer;
  }
}